[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "==4.5.4"
func-timeout = "*"
concurrencytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
